
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

a{
    color: none;
    text-decoration: none;
    color: #303030;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
}

a:hover{
    opacity: 0.7;
    border-bottom: 2px solid black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

body *{
    /* border: 1px solid black; */
}

header{
    background: lightgreen;
    height: 130px;
    display: flex;
    margin-bottom: 40px;
    /* padding: 0 5%; */
    /* justify-content: space-around; */
}

.logo{
    border: 1px solid black;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    border: 1px solid purple;
    margin: 0 auto;
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 10%;
    /* justify-content: center; */
    /* padding-right: 20%; */
}

.apresentacao{
    /* border: 1px solid black; */
    margin: 0 auto;
    width: 90dvw;
    height: auto;
    /* min-height: 500px; */
    display: flex;
    margin-bottom: 40px;
}

.containerApresentacao{
    /* border: 1px solid black; */
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
    border-radius: 50px;
    height: 100%;
    background-color: #56e4a6;
    flex: 50%;
    padding: 90px 40px;
    align-items: center;
}

.containerApresentacao p{
    /* border: 1px solid black; */
    margin: 0 40px;
    font-size: 19px;
    color: #404040;
}

.containerApresentacao button{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    border: 1px solid black;
    cursor: pointer;
    width: 100%;
    /* padding: 0 40px; */
    transition: all 0.3s ease-in-out;
    max-width: 300px;
}

.containerApresentacao button:hover{
    background-color: black;
    color: white;
}

.imagemApresentacao{
    /* width: 50%; */
    flex: 50%;
    height: auto;
    background-image: url(imagens/saudavel.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.sectionAlimentacaoSaudavel{
    /* border: 1px solid black; */
    width: 90dvw;
    margin: 0 auto;
    height: 700px;
    border-radius: 50px;
}

.containerAlimentacaoSaudavel{
    /* border: 1px solid black; */
    height: 50%;
    margin: 0 auto;
}

.tituloAlimentacaoSaudavel{
    border-radius: 10px;
    /* background-color: #449898; */
    /* border-bottom-right-radius: 0px; */
    /* border-bottom-left-radius: 0px; */
    /* border: 1px solid black; */
    /* height: 130px; */
    display: flex;
    width: fit-content;
    margin: 0 auto;
    padding: 25px 30px;
    margin-bottom: 40px;
    /* padding-top: 30px; */
    border-bottom: 8px solid black;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    text-align: center;
}

.alimentacaoSaudaveDicasPraticas{
    border: 2px solid black;
    /* height: 450px; */
    background-color: #f58172;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-radius: 50px;
    /* padding-bottom: 40px; */
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;

}

.containerAlimentacaoDicas{
    /* border: 1px solid black; */
    flex: 50%;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    
}

.imagemAlimentacaoDicas{
    /* border: 1px solid black; */
    flex: 50%;
    /* margin: 10px; */
    border-radius: 50px;
    /* opacity: 0.9; */
    /* border-top-left-radius: 0; */
    /* border-bottom-left-radius: 0; */
    /* padding: 20px; */
    height: auto;
    background-image: url(imagens/imagemDicasComidas.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

}

.tituloAlimentacaoDicas{
    font-size: 32px;
    padding-left: 20px;
    margin-bottom: 40px;
}

.textoAlimentacaoDicas{
    display: flex;
    /* margin: 0 auto; */
    margin-top: auto;
    margin-bottom: auto;
    /* border: 1px solid black; */
    padding-left: 30px;
    justify-content: center;
    /* align-items: center; */
    font-size: 18px;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 40px;
}

.alimentacaoSaudavelCarroceldeReceitas{
    border: 1px solid black;
    height: 450px;
    background-color: #f9bd4b;
    border-radius: 50px;
    padding: 25px;
}

.tituloCarrocelReceitas{
    font-size: 32px;
    text-align: center;
}

@media (max-width: 1000px) { 
    /* ul{
        gap: 5px;
        flex-direction: column;
    } */

    header{
        flex-direction: column;
        padding: 0px 0px;
    }

    .logo{
        margin: 0 auto;
    }

    .imagemAlimentacaoDicas{
        display: none;
    }

    .navbar{
        padding-left: 0;
        /* border: 1px solid purple; */
        /* margin: 0 auto; */
        flex: 100%;
        width: 100%;
        height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding-right: 20%; */
    }

    .navbar ul li{
        border-bottom: 3px solid #404040;
    }
    
}

@media (max-width: 550px) { 
    
    ul{
        /* font-size: 13px; */
        gap: 10px;
        flex-direction: row;
    }
}
